.pagination {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.pagination .page-item {
    margin: 0 0.5rem;
}

.pagination .page-link {
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    color: #343a40;
    background-color: #fff;
}

.pagination .page-link:hover {
    color: #343a40;
    background-color: #e9ecef;
}

.pagination .page-item.active .page-link {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}