/* Large screens */
.movie-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
}

@media screen and (max-width: 1200px) {
  /* Medium screens */
  .movie-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 992px) {
  /* Small screens */
  .movie-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  /* Extra small screens */
  .movie-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


.highlight {
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

.highlight:hover,
.highlight:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}