.movie-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 -10px;
}

.movie-card {
  width: calc(20% - 20px);
  margin: 0 10px 20px;
  /* Adjust these values as needed for spacing and responsiveness */
}

.highlight {
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
}

@media (max-width: 991px) {
  .movie-card {
    width: calc(25% - 20px);
  }
}

@media (max-width: 767px) {
  .movie-card {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 575px) {
  .movie-card {
    width: calc(50% - 20px);
  }
}

.highlight:hover,
.highlight:focus {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}