.movie-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    max-width: 300px;
}

.movie-card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.movie-info {
    text-align: center;
}

.movie-info h3 {
    font-size: 1.2rem;
    margin: 0;
    margin-bottom: 5px;
}

.movie-info p {
    font-size: 1rem;
    margin: 0;
    color: #666;
}